#pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.button {
    background-color: seagreen;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    width: fit-content;
    height: auto;
    padding: 5px;
    align-self: center;
}
.buttonUpdate {
    background-color: cadetblue;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    width: fit-content;
    height: auto;
    padding: 5px;
    align-self: center;
}
.buttonDelete {
    background-color: darkred;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    width: fit-content;
    height: auto;
    padding: 5px;
    align-self: center;
}

.button:hover {
    background-color: black;
    color: cornflowerblue;
    cursor: pointer;
}

.tg th {
    background-color: #409cff;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-rvyq {
    border-color: inherit;
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.employeeContainer {
    border-radius: 100px;
    padding: 25px;
}

h2 {
    text-align: center;
    margin-bottom: 5px;
}
h4 {
    text-align: center;
}